
        #div1{
            max-width: 600px;
            margin: 0 auto;
            background-color: rgba(179, 182, 184, 0.466);
            position: static;
            text-align: left;
        }
        .cyphpic{
            width: 400px; height: 400px;
            position: static;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        #div2{
            max-width: 600px;
            margin: 0 auto;
            background-color: rgba(179, 182, 184, 0.466);
            position: static;
        }
        #div3{
            display: flex;
            max-width: 600px;
            margin: 0 auto;
            background-color: rgba(179, 182, 184, 0.466);
            position: static;
        }
        #div4{
            max-width: 600px;
            margin: 0 auto;
            background-color: rgba(179, 182, 184, 0.466);
            position: static;
        }
        #div5{
            max-width: 600px;
            margin: 0 auto;
            background-color: rgba(179, 182, 184, 0.466);
            position: static;
        }
        #div1, #div2, #div3, #div4,#div5 {
            border: solid;
        }
        body{
            background-color: rgba(202, 132, 155, 0.264);
        }    
        h1{
        color: rgb(0, 89, 45);
        font-family: monospace;
        font: weight 500px;
        text-align: center;
        }
        h3{
        color: rgb(0, 89, 45);
        font-family: monospace;
        font: weight 500px;
        text-align: center;
        }
        p{
            color: rgb(67, 102, 67);
        }
        #paraAboutMe{
            color: rgb(67, 102, 67);
            text-decoration: solid;
        }
        .currentProjects{
            color: rgb(137, 87, 83);
            text-decoration: underline;
        }
        .projectList{
            color:rgb(137, 87, 83);
            text-decoration: solid;
            padding: 1 em;
            -moz-column-count: 2;
            -moz-column-gap: 1em;
            -webkit-column-count: 2;
            -webkit-column-gap: 1em;
            column-count: 2;
            column-gap: 2;
        }
        
        a{
            color: rgb(0, 89, 45);
        }
        form{
        width: 600px;
        margin: 20px;
        -webkit-box-sizing: border-box;
            -mox-box-sizing: border-box;
            box-sizing: border-box;
        padding: 5px;
        background-color: rgba(202, 132, 155, 0.25);
        font-style: italic;
        border-style: solid;
        font-weight: 900px;
        }
        input[type=button] {
        color:rgb(0, 89, 45);
        background-color:rgba(202, 132, 155, 0.637);
        padding: 5px;
        }
        input[type=button]:hover {
        color: white;
        background-color:rgba(202, 132, 155, 0.637);
        padding: 5px;
        }
